.container {
  background: linear-gradient(#1e1e25, #1e1e25) padding-box,
    linear-gradient(to right, #f537f9, #f7be2b) border-box;
  border: solid 2px transparent;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  padding: 1vh 0.8vw;
  /* gap: 8px; */
}

/* @keyframes change-background {
  100% {
    background: linear-gradient(
        90deg,
        rgba(245, 55, 249, 0.3) -1.47%,
        rgba(247, 190, 43, 0.3) 100%
      ),
      linear-gradient(#1e1e25, #1e1e25) padding-box,
      linear-gradient(to right, #f537f9, #f7be2b) border-box;
    border: solid 2px transparent;
  }
} */
.container:hover {
  background: linear-gradient(
      90deg,
      rgba(245, 55, 249, 0.3) -1.47%,
      rgba(247, 190, 43, 0.3) 100%
    ),
    linear-gradient(#1e1e25, #1e1e25) padding-box,
    linear-gradient(to right, #f537f9, #f7be2b) border-box;
  border: solid 2px transparent;
}
.text {
  background: linear-gradient(to right, #f537f9, #f7be2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 0 0;
  font-size: 1.5rem;
}

/* @keyframes change-textColor {
  100% {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
} */
.container:hover .text {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media only screen and (min-width: 770px) and (max-width: 1280px) {
  .text {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width:320px) and (max-width: 760px) {
  .text {
    font-size: 0.75rem;
    padding: 6px
  }
  .container{
    padding: 0 0;
    border: solid 0.5px transparent;
  }
}
