.blueContainer{
    background: linear-gradient(to right, #0500FF26, #0500FF00);
    height: auto;
    width: 66vw;
    margin: 0 0 4% 4%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.purpleContainer{
    background: linear-gradient(125.73deg, rgba(245, 55, 249, 0.15) 1.33%, rgba(245, 55, 249, 0) 100%);
    height: auto;
    width: 66vw;
    margin: 0 0 4% 4%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.yellowContainer{
    background: linear-gradient(125.73deg, rgba(247, 190, 43, 0.15) 1.33%, rgba(247, 190, 43, 0) 100%);
    height: auto;
    width: 66vw;
    margin: 0 0 4% 4%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.img {
    height: 27vh;
    width: 17vw;
    border-radius: 8px ;
    background: #3c3c3c;
    object-fit: cover;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding-left: 2%;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
}

.heading{
    font-size: 1.9rem;
    font-weight: 600;
    padding: 0 0 ;
}
.desc {
    font-size: 1.2rem;
    padding: 0 0;
    width: 48.2vw;
}

.link{
    text-decoration: none !important;
}

.labels{
    display: flex;
    flex-direction: row;
    width: 48.2vw;
}


@media (min-width:320px) and (max-width: 760px)  {
    /* smartphones, iPhone, portrait 480x320 phones */
    .name{
        font-size: 0.75rem;
    }
    .designation{
        font-size: 0.75rem;
    }
    .blueContainer{
        width: 78vw;
        /* height: 14vh; */
    }
    .purpleContainer{
        width: 78vw;
        /* height: 14vh; */
    }
    .yellowContainer{
        width: 78vw;
        /* height: 14vh; */
    }
    .heading{
        font-size: 1rem;
    }
    .desc{
        font-size: .5rem;
    }
    .img{
        height: 12vh;
        width: 30vw;
    }
    .labels{
        width: 49vw;
        display: box;
        display: -webkit-box;
        display: -moz-box;
        box-lines: multiple;
        flex-wrap: wrap;
    }
   }