.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2rem;
  background: linear-gradient(
    90deg,
    rgba(5, 0, 255, 0.15) 0%,
    rgba(245, 55, 249, 0.15) 53.96%,
    rgba(247, 190, 43, 0.15) 100%
  ), linear-gradient(#1E1E25,#1E1E25) padding-box,
  linear-gradient(to right,#F537F9,#F7BE2B) border-box;
  border: solid 1px transparent;
  box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.25),
    4px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 3.2rem;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0.75rem;
}

.text {
  font-family: "Montserrat";
  font-size: 0.75rem;
  color: #ffffff;
}

@media only screen and (min-width:320px) and (max-width: 760px) {
    .text{
      font-size: 0.5rem;
    }
    .container{
      height: 18px;
      width: 14.8vw;
    }
}