.heroBody{
    background: url(./assets/Rectangle.png) right top no-repeat,url(./assets/Rectangle\ 82.png) right top no-repeat,url(./assets/upper\ blobs.svg) right top no-repeat, linear-gradient(180deg, rgba(30, 30, 37, 0) 57.08%, #1E1E25 100%) left bottom no-repeat, #1E1E25 left top repeat;
    background-size: cover;
    height: 116vh;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 12vh;
    margin-bottom: 32vh;
}
.textLarge{
    font-family: 'Magilio';
    color: #fff;
    font-size: 4.5rem;
    display: flex;
}
.textSmall{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    width: 43vw;
    text-align: center;
    display: flex;
    padding: 2rem 0;
}

.button{
    text-decoration: none !important;
}

.buttons{
    display: grid;
    grid-template-areas: "button button";
    grid-column-gap: 2vw;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* width: 31vw; */
    padding-top: 1.4rem;
}