.heroBody{
    background: url(./assets/upper\ blobs.svg) right top no-repeat, linear-gradient(180deg, rgba(30, 30, 37, 0) 57.08%, #1E1E25 100%) left bottom no-repeat, #1E1E25 left top repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 156px;
    padding-bottom: 248px;
}
.textLarge{
    font-family: 'Magilio';
    color: #fff;
    font-size: 72px;
    display: flex;
}
.textSmall{
    font-family: 'Montserrat',sans-serif;
    color: #fff;
    font-size: 24px;
    width: 622px;
    text-align: center;
    display: flex;
    padding: 0 0 24px 57px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 448px;
}