.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.6vh 5.8vw;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.discord{
    color: #fff;
}

.discord:hover{
    text-decoration: underline;
}

@media only screen and (max-width:1280px) {
    .container{
        font-size: 0.8rem;
    }
}

@media (min-width:320px) and (max-width: 760px)  {
    /* smartphones, iPhone, portrait 480x320 phones */
     .container{
        font-size: 0.8rem;
        padding: 28px 16px;
     }
     .logo{
        width: 25vw;
     }
     .discord{
        font-size: 0.8rem;
     }
   }