.container{
    background: #1E1E25;
    box-sizing: border-box;
    margin: 0 0;
    padding: 0,0;
    height: 54vh;
    display: flex;
    justify-content: center;
    color: #fff;
}

.sub{
    background: #111114;
    height: 28vh;
    width: 100vw;
    margin: 4.64vh 2.26vw;
    padding-left: 3.33vw;
    padding-right: 7vw;
    padding-top: 8.85vh;
    padding-bottom: 5.54vh;
    display: flex;
    justify-content: space-between;
    border-radius: 0.75rem;
    
}

.sub img{
    height: 14.3vh;
    width: 21vw;
}

.footerItems {
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
}

.footerList{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.footerList ul li{
    list-style: none;
}

@media only screen and (max-width:1280px) {
    .footerItems{
        font-size: 0.8rem;
    }
}
