.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #1E1E25 ;
    height: auto;
    padding-top: 10vh;
    /* width: 100vw; */
}

.heading{
    color: #fff;
    font-family:'Magilio';
    font-size: 4.5rem;
}
